/* Add these styles to your CSS file */

.chat-box-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 600px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-messages {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message-user-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.message-text {
  background-color: #3498db; /* Blue color, you can adjust this */
  color: #fff; /* Text color */
  padding: 10px;
  border-radius: 20px; /* Adjust the border-radius to make it more rounded */
  word-wrap: break-word; /* Ensure long words wrap to the next line */
}


.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

.send-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar-header {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}
