.TableCellHover:hover {
  background-color: #f0f0f0; /* Change this to the desired hover background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Change this to the desired box shadow */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hoverCell:hover {
  background-color: #f0f0f0; /* Change this to your desired hover background color */
  cursor: pointer;
}

.boldText {
  font-weight: bold;
}

.pie-chart-container {
  margin-right: 20px; /* Adjust the margin as needed */
}

.paymentCell {
  background: #EEEEEE;
  font-size: 18px;
  text-align: left;
  border-bottom: 2px solid #CCCCCC;
  font-weight: bold;
}

.paymentContent {
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  margin-left: 10px;
}

.button-payment {
  margin-left: 10px; /* Adjust margin as needed */
  margin-right: 10px;
}

.button-payment:last-child {
  margin-right: 0;
}

.paymentContent {
  display: flex;
  align-items: center;
}

.paymentText {
  font-size: 24px; 
  font-weight: bold;
  color: #333; 
  margin-right: 20px; 
}

.buttonsContainer {
  display: flex;
}

.button-payment {
  margin-right: 10px;
}
