.TableCellHover:hover {
  background-color: #f0f0f0; /* Change this to the desired hover background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Change this to the desired box shadow */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hoverCell:hover {
  background-color: #f0f0f0; /* Change this to your desired hover background color */
  cursor: pointer;
}

.boldText {
  font-weight: bold;
}

.pie-chart-container {
  margin-right: 20px; /* Adjust the margin as needed */
}

.paymentCell {
  background: #EEEEEE;
  font-size: 18px;
  text-align: left;
  border-bottom: 2px solid #CCCCCC;
  font-weight: bold;
}

.paymentContent {
  display: flex;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  margin-left: 10px;
}

.button-payment {
  margin-left: 10px; /* Adjust margin as needed */
  margin-right: 10px;
}

.button-payment:last-child {
  margin-right: 0;
}

.paymentContent {
  display: flex;
  align-items: center;
}

.paymentText {
  font-size: 24px; 
  font-weight: bold;
  color: #333; 
  margin-right: 20px; 
}

.buttonsContainer {
  display: flex;
}

.button-payment {
  margin-right: 10px;
}

.cardContainer {
  flex: 1;
  height: 150px;
  margin: 0px 20px 10px 20px;
  background-color: #FF99CC;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circularIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 10px 20px;
  position: relative;
  width: 50px;
  height: 50px;
  background: #FF3399;
  border-radius: 50%;
  border: 2px solid #333;
}

.numberDataContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 20px;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.titleText {
  text-align: left;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
