.notification-list-container {
  max-width: 300px;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

.notification-list-mainTitle {
  font-weight: bold;
  color: #0099FF; /* Blue color */
  font-size: "10px"; /* Adjust font size as needed */
  margin-bottom: 16px;
  margin-left: 20px; /* Adjust left margin as needed */
  margin-top: 20px; /* Adjust top margin as needed */
}

.notification-list-notification {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.notification-list-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.notification-list-createdAt {
  color: #555;
  font-size: 12px;
}