/* Profile.css */
.custom-card {
  margin-bottom: 1rem;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.profile-description {
  font-size: 1rem;
  color: #888;
  margin-bottom: 1rem;
}

.profile-button {
  margin-right: 0.5rem;
}

.red-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.red-bg svg {
  width: 50px; /* Adjust the icon size as needed */
  height: 150px; /* Adjust the icon size as needed */
  color: white; /* Icon color */
}

.custom-text {
  font-weight: bold;
  font-size: 25px;
  color: #6699ff;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Bounce height */
  }
  40% {
    transform: translateY(-20px); /* Bounce upward */
  }
  60% {
    transform: translateY(-10px); /* Bounce downward */
  }
}

@keyframes move {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.custom-red-bg {
  background-color: #ff6666;
  border-radius: 10px;
}

.custom-red-btn {
  background-color: #dddddd;
  color: #ff6666;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.custom-red-btn:hover {
  background-color: #dddddd;
}

.custom-red-btn:active,
.custom-red-btn:focus {
  background-color: #dddddd;
  color: #ff6666;
  outline: none;
}

.custom-green-bg {
  background-color: #33cc99;
  border-radius: 10px;
}

.custom-green-btn {
  background-color: #dddddd;
  color: #33cc99;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.custom-green-btn:hover {
  background-color: #dddddd;
}

.custom-green-btn:active,
.custom-green-btn:focus {
  background-color: #dddddd;
  color: #33cc99;
  outline: none;
}

.custom-blue-bg {
  background-color: #6699ff;
  border-radius: 10px;
}

.custom-blue-btn {
  background-color: #dddddd;
  color: #6699ff;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.custom-blue-btn:hover {
  background-color: #dddddd;
}

.custom-blue-btn:active,
.custom-blue-btn:focus {
  background-color: #dddddd;
  color: #6699ff;
  outline: none;
}

.custom-card-text {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

.custom-list-item {
  width: 100%;
}

.custom-orange-bg {
  background-color: #a88532;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Green background color */
}

.narrow-input {
  width: 60%;
}

.admin {
  color: green;
}

.customer {
  color: blue;
}

.manager {
  color: orange;
}

.technician {
  color: red;
}

.accountant {
  color: purple;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.input-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 8px;
}

.my-request-summary .card-text {
  padding-left: 20px;
  padding-top: 5px;
}

.my-request-summary .btn-primary {
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #999999;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 20px;
}

.my-request-summary .btn-primary:hover {
  background-color: #3399cc;
}

.section-container {
  background-image: url("../../assets/images/background.jpg"); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover;
  background-position: center;
  height: 40vh;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 10px;
  margin-top: 20px;
}

.section-body {
  margin: 10px;
  margin-top: 20px;
}

.campaign-icon {
  font-weight: bold;
  font-size: 100px;
  color: #3399cc;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 1500px;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 5px;
}

.input-container .search-icon {
  margin-right: 10px;
  color: #007bff;
}

.input-container input {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-left: 1px solid #007bff;
  border-radius: 5px;
  padding: 5px;
}

.custom-button-color {
  color: #fff;
  background-color: #007bff;
  height: 30px;
}

.blue-summary {
  background-color: #66ccff;
  padding: 10px; /* Optional: Add padding for better spacing */
  border: 1px solid #7e7e80; /* Add a solid border with blue color (#0000FF) */
  border-radius: 5px;
}

.blue-summary h4 {
  font-family: Arial, sans-serif; /* Set font family */
  font-size: 24px; /* Set font size */
  font-weight: bold; /* Set font weight to bold */
  color: white; /* Set text color to white */
}

.dashboard-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}
