.edit-ticket-container {
  display: flex;
}

.left-box {
  flex: 0 0 70%; /* 7/10 */
  background-color: #f0f0f0;
  padding: 20px; /* Add padding as needed */
}

.middle-box {
  flex: 2;
  background-color: #ffffff; /* Example background color */
  padding: 20px; /* Add padding as needed */
}

.right-box {
  flex: 0 0 25%; /* 1/3 */
  background-color: #f0f0f0;
  padding: 20px; /* Add padding as needed */
}

.heading-padding {
  margin-right: auto; /* This pushes the heading to the right */
}

.label-col {
  text-align: left;
  padding-right: 10px; /* Add padding between label and data */
}

.data-col {
  margin-left: 40px;
}

.custom-tab-label {
  text-transform: none; /* Prevent uppercase text */
  font-weight: bold; /* Make text bold */
}
