.title-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.align-right {
  text-align: right;
  margin-right: 40px; /* Adjust the margin as needed */
  font-size: 18px;
  margin-bottom: 10px;
}

.title-label {
  margin-left: 10px; /* Adjust the margin to move the label to the left */
}

.input-field {
  width: 100%; /* Make the input and textarea take up 100% width */
  margin-bottom: 20px;
}

.input-field-2 {
  width: 100%; /* Make the input and textarea take up 100% width */
  margin-bottom: 50px;
}

.arrow-back-icon {
  font-size: 2em; /* Change the font size to make the icon bigger */
  font-weight: bold;
}

.custom-btn-margin {
  margin-right: 10px; /* Adjust the margin-right value as needed */
  text-transform: none;
}

.input-field-description {
  color: grey;
  /* Additional styles if needed */
}

.avatar {
  margin-bottom: 60px; /* Adjust the margin-bottom value as needed */
}
.square-icon {
  color: #FF6600;
}

.image-preview {
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 10px;
  transition: border 0.3s ease;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ecf0f1;
  margin-bottom: 20px;
}

.image-preview:hover {
  border-color: #2980b9;
}

.preview-text:hover {
  text-decoration: underline;
  color: blue; 
}

.preview-text {
  margin: 0;
  color: #2c3e50; 
  font-weight: bold;
}


.ticket-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
}

.ticket-file-upload input[type="file"] {
  display: none;
}

.image-preview {
  cursor: pointer;
  /* Add any additional styles for your image preview */
}

.preview-text {
  margin: 0;
  /* Add any additional styles for your preview text */
}

.form-select-custom {
  border-radius: 10px; /* Set border-radius for rounded corners */
  padding: 10px; 
  width: 100%; 
  box-sizing: border-box; 
  background-color: #ecf0f1; 
  border: 1px solid #bdc3c7; 
  color: #2c3e50; 
  font-size: 14px;
}

.form-select-custom::after {
  content: '\25BC'; 
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
}

.form-select-custom option {
  background-color: #ffffff; 
  color: #2c3e50; 
}


.form-select-custom:focus {
  outline: none; 
  border-color: #3498db; 
}

.form-control-text {
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  color: #2c3e50;
  font-size: 14px;
}

.form-control:focus {
  outline: none;
  border-color: #3498db;
}